.DS_Store
*.pdf
Lab2.1/.idea/inspectionProfiles/profiles_settings.xml
Lab2.1/.idea/Lab2.iml
Lab2.1/.idea/misc.xml
Lab2.1/.idea/modules.xml
Lab2.1/.idea/vcs.xml
Lab2.1/__pycache__/.idea/__pycache__.iml
Lab2.1/__pycache__/.idea/inspectionProfiles/profiles_settings.xml
Lab2.1/__pycache__/.idea/misc.xml
Lab2.1/__pycache__/.idea/modules.xml
Lab2.1/__pycache__/.idea/vcs.xml
Lab2.1/__pycache__/.idea/workspace.xml
Lab2.1/__pycache__/parsetab.cpython-37.pyc
Lab2.1/__pycache__/parsetab.cpython-38.pyc
Lab2.1/__pycache__/scanner.cpython-37.pyc
Lab2.1/__pycache__/scanner.cpython-38.pyc
Lab2/.idea/inspectionProfiles/profiles_settings.xml
Lab2/.idea/Lab2.iml
Lab2/.idea/misc.xml
Lab2/.idea/modules.xml
Lab2/.idea/vcs.xml
Lab2/__pycache__/.idea/__pycache__.iml
Lab2/__pycache__/.idea/inspectionProfiles/profiles_settings.xml
Lab2/__pycache__/.idea/misc.xml
Lab2/__pycache__/.idea/modules.xml
Lab2/__pycache__/.idea/vcs.xml
Lab2/__pycache__/.idea/workspace.xml
Lab2/__pycache__/parsetab.cpython-38.pyc
Lab2/__pycache__/scanner.cpython-38.py
Lab2/__pycache__/scanner.cpython-38.pyc
Lab2/.idea/workspace.xml
Lab2.1/.idea/workspace.xml
Lab3/.idea/**
Lab3/__pycache__/**
Lab4/__pycache__/**